<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="color: white;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon name="search-outline"></ion-icon>
    <ion-input labelPlacement="fixed" placeholder="   Search for Friends"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row class="center-row">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/img/tri.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Tri Bintoro
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Unfriend</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="center-row">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/img/aripa.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Arifa Ramadhani
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Unfriend</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="center-row">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/img/rapi.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Akhmad Rhafianor
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Add Friend</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="center-row">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/img/ojan.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Fauzan
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Unfriend</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="center-row">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/img/ceroke.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Cheroke Assyfa Troopers
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Accept</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img style="width: 100%;" src="../../assets/img/key.jpg" alt="">
</ion-content>

