<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="container">
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content >
        <img class="gambar" src="../../assets/img/mukaku.jpg" alt="">
        <strong><h1>Latief Naupal Sidik</h1></strong>
        <h2>Mahasiswa</h2>
        <p><a href="https://www.instagram.com/latiefnasi/">
          <ion-icon name="logo-instagram"></ion-icon>
          @latiefnasi</a>
        </p>
        <p>
        <a href="https://www.facebook.com/profile.php?id=61550549468065">
          <ion-icon name="logo-facebook"></ion-icon>
        latief naupal s</a>
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
