<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div ng-if="userRole==='superadmin' ">
    <img src="https://pbs.twimg.com/media/F0IT48HaEAUNoir.jpg" alt=""><br>
    <strong>Selamat Datang {{userRole}}</strong>
  </div>
    <div ng-if="userRole==='dayat' ">
    <img src="https://i.ytimg.com/vi/-iK92WKx9kg/maxresdefault.jpg" alt=""><br>
    <strong>Selamat Datang {{userRole}}</strong>
  </div>
  </div>
</ion-content>
